---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Graal Designer
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Graal Designer"                
                sub_title="Modéliser les besoins utilisateurs"
                desc="Graal Designer permet de modéliser précisément les scénarios d’usage d’une application, ainsi que les interactions avec les différents types d’utilisateurs."
            %}
    </div>
</section>


<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser les use-cases et les acteurs"                
            desc="<p>Une application permet à des utilisateurs de dérouler des scénarios d’usage pour réaliser des objectifs métier.</p>
                <p>Avec Graal Designer, définissez facilement ces scénarios sous la forme de cas d’usage (use-case) et de profils d’utilisateurs (acteurs) qui les réalisent.</p>
                <p>Ces cas d’usage peuvent être définis de manière hiérarchique pour préciser les différents scénarios. De même pour les acteurs afin d’identifier des profils différents.</p>"
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/graal/usecase_acteurs.png"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Décomposer les use-cases en tâches"                
            desc="<p>Les cas d’usage peuvent être décomposés en ensembles de tâches. Ces tâches peuvent être ordonnées et hiérarchisées afin d’établir des scénarios d’utilisations de manière exhaustive.</p>
                <p>Vous pouvez associer vos acteurs à des sous-tâches particulières, afin de représenter leurs implications durant les différentes étapes de vos processus métier.</p>
                <p>Graal Designer permet d’intégrer un ensemble de tâches à des scénarios d’usage existants, de les partager entre plusieurs scénarios, et de naviguer entre-elles avec simplicité.</p>"       
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/graal/taches.png"
            img_title="Diagramme de use-cases"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser les interactions système/utilisateur"                
            desc="<p>Graal Designer permet la représentation des échanges entre les utilisateurs et les différents composants du système. Vous pouvez ainsi représenter les messages transitants dans le systèmes, entre ses composants mais aussi entre ses acteurs.</p>
                <p>Des scénarios d’utilisations avancés prenant en compte parallélisme, synchronisation, ainsi que la création et la destruction d’entités du système peuvent être spécifiés. </p>
                <p>Graal Designer peut ainsi être associé aux autres designers présents dans le studio, permettant ainsi une liaison entre les différentes couches de votre application.</p>"        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/graal/interaction.png"
            img_title="Diagramme d'interactions"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Modéliser les user-stories"                
            desc="<p>Les tâches définies avec Graal Designer peuvent être intégrées à des scénarios d’usage plus vastes, prenant aussi en compte les actions des utilisateurs, l’affichage d’écrans, ainsi que les actions devant être effectuées par votre système.</p>
                <p>Les scénarios utilisateurs et les tâches définies dans Graal Designer peuvent être intégrées aux user-stories. Vous pouvez spécifier dans quelles conditions effectuer vos sous-tâches, en fonction de l’état du système et des actions de l’utilisateur.</p>"
            lnk_txt=""
            lnk_href=""
            lnk_target="blank"
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/graal/user_stories.png"
            img_title="Diagramme de user-stories"
        %}
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Ressources pour démarrer"
            sub_title=""
            desc=""
        %}
        <div class="row align-items-center">
            <div class="col-md-4 offset-md-2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="http://www.obeosoft.com" title="Logo Obeo" target="_blank"><i class="far fa-file-alt fa-7x"></i></a></p>
                <p>Documentation</p>
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">            
                <p><a href="https://www.thalesgroup.com/en" title="Logo Thales" target="_blank"><i class="fas fa-download fa-7x"></i></a></p>
                <p>Téléchargement</p>
            </div>
        </div>
    </div>       
</section>

