---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Requirements Designer
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Requirements Designer"                
                sub_title="Modéliser les exigences liées à l’application"
                desc="Requirements Designer permet de saisir les exigences que l'application doit satisfaire, et d'établir la traçabilité entre ces exigences et les composants qui y répondent."
            %}
    </div>
</section>


<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Saisir les exigences"                
            desc="<p>Les exigences fonctionnelles définissent les fonctionnalités attendues d’éléments du système. Avec Requirement Designer, vous pouvez attacher des exigences fonctionnelles à n’importe quel élément que vous avez modélisé, de manière transverse dans tous les modeleurs disponibles d’IS Designer.</p>
              <p>Vous pouvez également définir des exigences non fonctionnelles. Les exigences sont identifiables, et peuvent être catégorisées en fonction des besoins.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/requirements/exigences.png"
            img_title="Saisie d'exigences"
        %}
    </div>
</section>

<section id="">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Etablir la traçabilité avec les composants de l’application"                
            desc="<p>Lorsque vous attachez une exigence, fonctionnelle ou non, à un élément modélisé dans IS Designer, Requirement Designer modifie sa représentation afin d’indiquer qu’une exigence lui est attaché.</p>
              <p>Vous pouvez ainsi facilement retrouver les exigences définies à partir de n’importe quel modeleur d’IS Designer.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/requirements/requirement_trace.png"
            img_title="Liens entre exigences et composants"
        %}
    </div>
</section>
