---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Requirements Designer
---

<section class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Requirements Designer"                
                sub_title="Modéliser les exigences liées à l’application"
                desc="Requirements Designer permet de saisir les exigences que l'application doit satisfaire, et d'établir la traçabilité entre ces exigences et les composants qui y répondent."
            %}
    </div>
</section>


<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Saisir les exigences"                
            desc="<p>Les exigences fonctionnelles définissent les fonctionnalités attendues d’éléments du système. Avec Requirement Designer, vous pouvez attacher des exigences fonctionnelles à n’importe quel élément que vous avez modélisé, de manière transverse dans tous les modeleurs disponibles d’IS Designer.</p>
              <p>Vous pouvez également définir des exigences non fonctionnelles. Les exigences sont identifiables, et peuvent être catégorisées en fonction des besoins.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/requirements/exigences.png"
            img_title="Saisie d'exigences"
        %}
    </div>
</section>

<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Etablir la traçabilité avec les composants de l’application"                
            desc="<p>Lorsque vous attachez une exigence, fonctionnelle ou non, à un élément modélisé dans IS Designer, Requirement Designer modifie sa représentation afin d’indiquer qu’une exigence lui est attaché.</p>
              <p>Vous pouvez ainsi facilement retrouver les exigences définies à partir de n’importe quel modeleur d’IS Designer.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/requirements/requirement_trace.png"
            img_title="Liens entre exigences et composants"
        %}
    </div>
</section>

<section class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Ressources pour démarrer"
            sub_title=""
            desc=""
        %}
            <div class="row">
                {% include block_cols.html
                    col="4 offset-md-2"
                    icon_name="far fa-file-alt"
                    icon_color="txt_indigo"
                    title="Documentation" 
                    desc=""
                    href="https://github.com/ObeoNetwork/InformationSystem/wiki/Obeo-Network---Requirements-tooling"
                    link_txt="Learn more"
                    href_icon="fas fa-arrow-alt-circle-right"
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="far fa-download"
                    icon_color="txt_indigo"
                    title="Téléchargement" 
                    desc=""
                    href="https://github.com/ObeoNetwork/InformationSystem/releases"
                    link_txt="Learn more"
                    href_icon="fas fa-arrow-alt-circle-right"
                %}
            </div>
    </div>       
</section>

<!-- <div class="card banner bg-dark text-white text-center">
    <img src="images/banners/banner_features.jpg" class="card-img" alt="Fonctionnalités">
    <div class="container card-img-overlay">
        <section>
        {% include block_heading.html
            title="Voir aussi"
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".05s">
                <h3>Requirements Designer</h3>
                <p><a href="requirements-designer.html">Modéliser les exigences liées à l’application <i class="fa fa-external-link" aria-hidden="true"></i></a></p> 
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".09s">
                <h3>Graal Designer</h3>
                <p><a href="graal-designer.html">Modéliser les besoins utilisateurs <i class="fa fa-external-link" aria-hidden="true"></i></a></p> 
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".11s">
                <h3>SOA Designer</h3>
                <p><a href="soa-designer.html">Modéliser les interfaces de composants applicatifs <i class="fa fa-external-link" aria-hidden="true"></i></a></p> 
            </div>
        </div>
    </section>
    </div>
    </div>
</div> -->
