---
layout: isdesigner_default
title: Information System Designer | Communauté
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Ressources"                
                sub_title=""
                desc=""
            %}
    </div>
</section>

<section >
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Documentation"                
        desc="<p>Les fonctionnalités proposées par <i>Information System Designer</i> sont expliquées dans un Guide Utilisateur complet.</p><br>"
        
            lnk_txt="Guide Utilisateur&nbsp;"
            lnk_href="https://github.com/ObeoNetwork/InformationSystem/wiki"
            lnk_target=""
            lnk_icon="fas fa-book"

            img_order="order-2"
            img_src="images/screenshots/documentation.png"
            img_title="Documentation de Information System Designer"
        %}
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Code Source"                
      desc="<p>Le code source complet de <i>Information System Designer</i> est disponible sur GitHub.</p>
        <p>Vous pouvez l'utiliser, le modifier, et contribuer de nouvelles versions selon les règles définies par la licence <a href='https://www.eclipse.org/org/documents/epl-v10.php'>EPL</a> (Eclipse Public License).</p><br>"
        
            lnk_txt="Accès au code source&nbsp;"
            lnk_href="https://github.com/ObeoNetwork/InformationSystem"
            lnk_target=""
            lnk_icon="fas fa-download"

            img_order="order-1"
            img_src="images/logos/logo-github.png"
            img_title="Github"
        %}
    </div>
</section>

<section >
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Communauté"                
        desc="<p>Le projet <i>Information System Designer</i> est le fruit d'une collaboration entre <a href='https://www.defense.gouv.fr/'>Le Ministère des Armées</a> en France, et la société <a href='https://www.obeosoft.com/fr/'>Obeo</a></p>
        <p>Il est référencé dans le <a href='https://sill.etalab.gouv.fr/fr/software?id=62'>Socle Interministériel de Logiciels Libres</a>, le catalogue de références pour les administrations, géré par la DiNum (Direction interministérielle du numérique).</p>
        <p>Pour être accompagné sur l'utilisation, le paramétrage ou l'extension de <i>Information System Designer</i>, la société Obeo propose des prestations de services :
            <ul>
                <li>formation,</li>
                <li>support,</li>
                <li>développement spécifique,</li>
                <li>tierce-maitenance applicative</li>
            </ul><br>"
        
            lnk_txt="Services professionels&nbsp;"
            lnk_href="https://www.obeosoft.com/fr/services"
            lnk_target=""
            lnk_icon="fas fa-user-alt"

            img_order="order-2"
            img_src="images/illustrations/coaching.jpg"
            img_title="Services Obeo"
        %}
    </div>
</section>
