---
layout: isdesigner_default
title: Information System Designer | Fonctionnalités - Service Oriented Architecture Designer
---

<section class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="SOA Designer"                
                sub_title="Modéliser les interfaces des composants et des services"
                desc="SOA Designer permet de modéliser la façon dont les composants d'une application sont liés entre eux, au travers d'interfaces de services."
            %}
    </div>
</section>


<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser des interfaces de composants applicatifs"                
            desc="<p>L’architecture orientée services rend les composants logiciels réutilisables par le biais d’interfaces de services qui communiquent entre-eux.</p>
            <p>SOA Designer permet la représentation de ces services et des fonctionnalités des composants. Vous pouvez définir les opérations que vos services peuvent effectuer, en précisant leurs paramètres d’entrée, de sortie, et les comportements à adopter en cas d’erreur.</p>
            <p>Vous pouvez également définir l’exposition de vos services via des protocoles de réseau standards (SOAP, REST) afin d’envoyer des requêtes ou accéder à vos données.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/soa/interface_composants.png"
            img_title="Diagramme d'interfaces de composants"
        %}
    </div>
</section>

<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Rétro-modéliser des interfaces de services REST"                
            desc="<p>SOA Designer vous permet d’importer des services REST existants en format OpenAPI 3.0. Vous pouvez ainsi utiliser les différentes représentations graphiques proposées ainfi de faire évoluer vos composants applicatifs.</p> 
            <p>La rétro-modélisation considère toutes les fonctionnalités apportées par OpenAPI: extensions de propriétés, schémas de sécurité, types de médias, ainsi que les serveurs.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/soa/retromodelisation.gif"
            img_title="Information System Designer - What is Information System Designer?"
        %}
    </div>
</section>

<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser les liens entre composants"                
            desc="<p>SOA Designer vous permet de représenter les composants de votre application. Ces composants peuvent fournir des comportements (services) ou bien les consommer.</p>
            <p>Vous pouvez ainsi lier entre-eux vos services définissant des relations de dépendances entre les services fournis et consommés de vos composants, vous donnant ainsi une vue d’ensemble de votre application.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/soa/liens_entre_composants.png"
            img_title="Liens entre composants"
        %}
    </div>
</section>

<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-2"
            title="Générer des documents OpenAPI définissant des services REST"                
            desc="<p>SOA Designer permet également l’export de vos services REST en format OpenAPI 3.0, vous permettant de générer directement vos applications côté serveur.</p>
                <p>Les objets métiers associés à vos services REST sont égalements considérés lors de l’export, afin de simplifier les transferts de données avec les autres couches de votre application.</p>
                <p>En associant ces fonctions d’export à celles d’import, SOA Designer permet la mise en place de Round-Trip engineering afin de faire évoluer facilement et rapidement vos applications existantes.</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target="blank"
            lnk_icon=""

            img_order="order-1"
            img_src="images/screenshots/soa/generation_openapi.gif"
            img_title="Génération de documents OpenAPI"
        %}
    </div>
</section>
<section>
    <div class="container">
        {% include block_text_image.html
            txt_order="order-1"
            title="Modéliser des objets métiers et des DTOs"                
            desc="<p>Les DTOs sont des objets transportant les données entre les différentes couches d’une application. SOA Designer propose une représentation s'apparentant à UML afin de les modéliser. </p>
                <p>Ces DTOs peuvent être directement référencés par les différents services de vos composants. Les DTOs étant échangés entre les processus de votre application, ils peuvent être générés à partir d’autres représentations  issues de différentes couches applicatives (Graal Designer, Entity Designer).</p>"
        
            lnk_txt=""
            lnk_href=""
            lnk_target=""
            lnk_icon=""

            img_order="order-2"
            img_src="images/screenshots/soa/objets_metier_dto.png"
            img_title="Modélisation d'objets métiers"
        %}
    </div>
</section>

<section class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Ressources pour démarrer"
            sub_title=""
            desc=""
        %}
            <div class="row">
                {% include block_cols.html
                    col="4 offset-md-2"
                    icon_name="far fa-file-alt"
                    icon_color="txt_indigo"
                    title="Documentation" 
                    desc=""
                    href="https://github.com/ObeoNetwork/InformationSystem/wiki/Obeo-Network---SOA-Designer"
                    link_txt="Learn more"
                    href_icon="fas fa-arrow-alt-circle-right"
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="far fa-file-alt"
                    icon_color="txt_indigo"
                    title="Téléchargement" 
                    desc=""
                    href="https://github.com/ObeoNetwork/InformationSystem/releases"
                    link_txt="Learn more"
                    href_icon="fas fa-arrow-alt-circle-right"
                %}
            </div>
    </div>       
</section>

<!-- <div class="card banner bg-dark text-white text-center">
    <img src="images/banners/banner_features.jpg" class="card-img" alt="Fonctionnalités">
    <div class="container card-img-overlay">
        <section>
        {% include block_heading.html
            title="Voir aussi"
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".05s">
                <h3>Requirements Designer</h3>
                <p><a href="requirements-designer.html">Modéliser les exigences liées à l’application <i class="fa fa-external-link" aria-hidden="true"></i></a></p> 
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".09s">
                <h3>Graal Designer</h3>
                <p><a href="graal-designer.html">Modéliser les besoins utilisateurs <i class="fa fa-external-link" aria-hidden="true"></i></a></p> 
            </div>
            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".11s">
                <h3>SOA Designer</h3>
                <p><a href="soa-designer.html">Modéliser les interfaces de composants applicatifs <i class="fa fa-external-link" aria-hidden="true"></i></a></p> 
            </div>
        </div>
    </section>
    </div>
    </div>
</div> -->
