---
layout: isdesigner_default
title: Information System Designer | Solutions
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Analyse et Conception d’applications"                
                sub_title=""
                desc="Information System Designer permet de faire collaborer différents acteurs<br>
                    pour mieux identifier les besoins des utilisateurs et concevoir la solution"
            %}
    </div>
</section>
<p  class="text-center">
    <img src="images/illustrations/solutions.png">
</p>
<br>
<section class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Un atelier partagé"                
                sub_title=""
                desc="Dans le processus de développement d’une application, Information System Designer s’adresse<br>
                    aux analystes métier et aux concepteurs applicatifs (front-end et back-end).<br>
                    Elle leur permet de spécifier ensemble l’application à développer."
            %}

            <div class="row">
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-users"
                    icon_color="txt_indigo"
                    title="Analystes métier" 
                    desc="<ul class='list-unstyled'>
    <li><i class='fa fa-check' aria-hidden='true'></i> Formaliser les exigences et les besoins métiers</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Spécifier les cas d’utilisation</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Identifier les entités métier</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Maquetter les IHM.</li>
</ul>"
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-desktop"
                    icon_color="txt_indigo"
                    title="Concepteurs Front-End" 
                    desc="<ul class='list-unstyled'>
    <li><i class='fa fa-check' aria-hidden='true'></i> Identifier les états d'une application</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Spécifier l'enchaînement des écrans</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Concevoir la structure des IHM</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Définir les données manipulées par les écrans</li>
</ul>"
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-server"
                    icon_color="txt_indigo"
                    title="Concepteurs Back-End" 
                    desc="              <ul class='list-unstyled'>
    <li><i class='fa fa-check' aria-hidden='true'></i> Définir les services applicatifs</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Spécifier les objets métier</li>
    <li><i class='fa fa-check' aria-hidden='true'></i> Concevoir la base de données</li>
</ul>"
                %}
            </div>
    </div>
</section>

<section class="text-center">
    <div class="container">
            <div class="row">
               <div class="col-md-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                   <img width='200' src='images/illustrations/didier-feret.jpg'>
                </div>
               <div class="col-md-8 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                   <p><i>"Sur un projet de 6500 j/h avec une vingtaine d'analystes et de développeurs,<br>
    Information System Designer nous a permis de <b>limiter les risques d'erreur</b><br>
    en validant beaucoup plus en en amont les spécifications de l'application.<br>
    Et grâce à ces spécifications détaillées, nous avons pu produire automatiquement<br>
    jusqu'à 80% du code, avec un résultat <b>beaucoup mieux structuré</b>,<br>
    <b>plus propre</b> et <b>entièrement normalisé</b>."</i></p>
    <br>
<h2>Didier Feret, Architecte au Ministère des Armées</h2>

                </div>
              </div>

</section>

<section class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Liens avec d'autres activités IT"                
                sub_title=""
                desc="L'approche visuelle et formelle de Information System Designer facilite la collaboration<br>
                    avec les autres activités impliquées dans le développement et la maintenance d'applications."
            %}

            <div class="row">
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-cubes"
                    icon_color="txt_indigo"
                    title="Architectes applicatifs" 
                    desc="Vérifier comment l'application implémente<br>les principes d'architecture définis en amont."
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-code"
                    icon_color="txt_indigo"
                    title="Développeurs" 
                    desc="Disposer d'une spécification claire et précise<br>des composants applicatifs à développer."
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-sitemap"
                    icon_color="txt_indigo"
                    title="Ops" 
                    desc="Comprendre les différents composants applicatifs<br>à déployer et à administrer."
                %}
            </div>
    </div>
</section>
