---
layout: isdesigner_default
title: Information System Designer | Solutions
---

<section id="" class="text-center">
    <div class="container">
            {% include block_heading.html
                title="Analyse et Conception d’applications"                
                sub_title="Identifier les besoins des utilisateurs et concevoir la solution"
                desc="Dans le processus de développement d’une application, Information System Designer s’adresse principalement aux analystes métier et aux concepteurs applicatifs (front-end et back-end).  Elle leur permet de spécifier ensemble l’application à développer et de mieux la partager avec les architectes applicatifs, les développeurs et les Ops en charge du déploiement."
            %}
    </div>
</section>

<img src="/images/illustrations/solutions.png">

<section class="bg_lightest_grey text-center">
    <div class="container">
            {% include block_heading.html
                title="Atelier unique"                
                sub_title=""
                desc=""
            %}

            <div class="row">
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-users"
                    icon_color="txt_indigo"
                    title="Analyste métier" 
                    desc="Capturer les besoins et dialoguer avec les concepteurs et développeurs"
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-desktop"
                    icon_color="txt_indigo"
                    title="Concepteur Front-End" 
                    desc="Concevoir les interfaces utilisateurs et les interactions avec le back-end"
                %}
                {% include block_cols.html
                    col="4"
                    icon_name="fas fa-server"
                    icon_color="txt_indigo"
                    title="Concepteur Back-End" 
                    desc="Définir les services applicatifs, les objets métiers et la base de données"
                %}
            </div>
    </div>
</section>
