<div class="col-md-4">
    <p><a href="https://www.obeosoft.com/"><img src="common_assets/images/logos/logo_obeo.png" alt="Obeo logo"></a></p>
    <p id="copyright">Copyright © {{ 'now' | date: '%Y' }} <a href="https://www.obeosoft.com/">Obeo</a>.<br>All Rights Reserved.</p>
</div>

<div class="col-md-4">
    <h6>Fonctionalités</h6>
    <ul>
        <li><a href="fonctionnalites.html">Vue globale</a></li>
        <li><a href="requirements-designer.html">Requirements Designer</a></li>
        <li><a href="graal-designer.html">Graal Designer</a></li>
        <li><a href="soa-designer.html">SOA Designer</a></li>
        <li><a href="entity-designer.html">Entity Designer</a></li>
        <li><a href="database-designer.html">Database Designer</a></li>
        <li><a href="cinematic-designer.html">Cinematic Designer</a></li>
    </ul>
</div>
