.card.banner:before {
    content: '';
    z-index: 9;
    background: rgba(40, 35, 82, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.card-img-overlay {
    z-index: 10;
    border-radius: 0px;
}

.card.banner .card-img-overlay h2.title, .card.banner .card-img-overlay h3, .card.banner a {
    color: #fff;
}

.card.banner a:hover {
    color: #FBB800;
}

@media only screen and (max-width: 1199px){
body {
    padding-top: 80px !important;
}
}
